<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ability_new">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Part10CorrectGrape"
            android:screenOrientation="portrait" />
        <activity android:name=".Part9CorrectGrpae"
            android:screenOrientation="portrait" />
        <activity android:name=".Part8CorrectGrape"
            android:screenOrientation="portrait" />
        <activity android:name=".Part7CorrectGrape"
            android:screenOrientation="portrait" />
        <activity android:name=".Part6CorrectGrape"
            android:screenOrientation="portrait" />
        <activity android:name=".Part5CorrectGrape"
            android:screenOrientation="portrait" />
        <activity android:name=".Part4CorrectGrape"
            android:screenOrientation="portrait" />
        <activity android:name=".Part3CorrectGrape"
            android:screenOrientation="portrait" />
        <activity android:name=".Part1CorrectGrape"
            android:screenOrientation="portrait" />
        <activity android:name=".CheckGrape"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9543"
            android:screenOrientation="portrait" />
        <activity android:name=".Questionmulti"
            android:screenOrientation="portrait" />
        <activity android:name=".Main2"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6331draw2"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6331draw3"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9542"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9541"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9533"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest95322"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9532"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest95312"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9531"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest9522check"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest9522"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest9521check"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest9521"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest95042"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9504"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest95032"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest95022"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9502"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9503"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest95012"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest9501"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8443"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10592"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8481"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8482"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest8491"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest8492"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8441"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8442"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8451"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8452"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8461"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8462"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8421"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8421_2"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10584"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10583"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10582"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10581"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10572"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10571"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest105622"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10562"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest105612"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10561"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10554"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10553"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10552"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10551"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10611"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10612"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10613"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10622"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest10621"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest7382"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest7382check"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest7381check"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest7381"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest7362"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest7361"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6332draw"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6332"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6331draw"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6331"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6321"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6286"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6285"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6284"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6283"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6282"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6281"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest3143" android:screenOrientation="portrait" />
        <activity android:name=".Multitest3142"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest3141"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6274" android:screenOrientation="portrait" />
        <activity android:name=".Singletest7352"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest7391"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest7392"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8431"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest8432"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6301"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6302"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6303"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6304"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6305"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6306"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6273"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6272"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6271"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6264check"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6264"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6263check"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6263"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6262check"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6262"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6261check"
            android:screenOrientation="portrait" />
        <activity android:name=".Multitest6261"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5234"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest7401"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest7402"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest7411"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest7412"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6291"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6291check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest6292" />
        <activity android:name=".Singletest6292check" />
        <activity android:name=".Singletest6293" />
        <activity android:name=".Singletest6293check" />
        <activity android:name=".Singletest6294" />
        <activity android:name=".Singletest6294check" />
        <activity android:name=".Singletest5251"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5252"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5253"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5254"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5233"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5241"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5242"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5232"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5231"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5224"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5223"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5222"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest5221"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest42022check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest42022"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4202check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4202"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest42012check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest42012"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4201check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4201"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest41922check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest41922"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4192check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4192"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest41912check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest41912"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4191check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4191"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4184check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4184"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4183check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4183"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4182check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4182"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4181check"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest4181"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestTrianglecheck"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3174"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletestrectcheck"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3173"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestCirclecheck"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3172"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestStarcheck"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3171"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3163"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3162"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3161"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3131"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3132"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3133"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest3134"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest154"
            android:screenOrientation="portrait" />
        <activity android:name=".Singtest154"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest153"
            android:screenOrientation="portrait" />
        <activity android:name=".Singtest153"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest151"
            android:screenOrientation="portrait" />
        <activity android:name=".Correct"
            android:screenOrientation="portrait" />
        <activity android:name=".MultitestPart10"
            android:screenOrientation="portrait" />
        <activity android:name=".MultitestPart8"
            android:screenOrientation="portrait" />
        <activity android:name=".MultitestPart7"
            android:screenOrientation="portrait" />
        <activity android:name=".MultitestPart4"
            android:screenOrientation="portrait" />
        <activity android:name=".MultitestPart3"
            android:screenOrientation="portrait" />
        <activity android:name=".MultitestPart2"
            android:screenOrientation="portrait" />
        <activity android:name=".MultitestPart1"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestPart10"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestPart9"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestPart8"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestPart7"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestPart6"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestPart5"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestPart4"
            android:screenOrientation="portrait" />
        <activity android:name=".SingletestPart3"
            android:screenOrientation="portrait" />
        <activity android:name=".Singletest"
            android:screenOrientation="portrait" />
        <activity android:name=".Questionsingle"
            android:screenOrientation="portrait" />
        <activity android:name=".home"
            android:screenOrientation="portrait" />
        <activity android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Single1"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi1"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi2"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi3"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi4"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi6"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi7"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi8"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi9"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi10"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi11"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi12"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi13"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi14"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi15" android:screenOrientation="portrait" />
        <activity android:name=".Multi16"
            android:screenOrientation="portrait" />
        <activity android:name=".Multi17" android:screenOrientation="portrait" />
        <activity android:name=".Multi18" android:screenOrientation="portrait" />
        <activity android:name=".Multi19" android:screenOrientation="portrait" />
        <activity android:name=".Multi20" android:screenOrientation="portrait" />
        <activity android:name=".Multi21" android:screenOrientation="portrait" />
        <activity android:name=".Multi22" android:screenOrientation="portrait" />
        <activity android:name=".Multi23" android:screenOrientation="portrait" />
        <activity android:name=".Multi24" android:screenOrientation="portrait" />
        <activity android:name=".Multi25" android:screenOrientation="portrait" />
        <activity android:name=".Multi26" android:screenOrientation="portrait" />
        <activity android:name=".Multi27" android:screenOrientation="portrait" />
        <activity android:name=".Multi28" android:screenOrientation="portrait" />
        <activity android:name=".Multi29" android:screenOrientation="portrait" />
        <activity android:name=".Multi30" android:screenOrientation="portrait" />
        <activity android:name=".Multi31" android:screenOrientation="portrait" />
        <activity android:name=".Multi32" android:screenOrientation="portrait" />
        <activity android:name=".Multi33" android:screenOrientation="portrait" />
        <activity android:name=".Multi35" android:screenOrientation="portrait" />
        <activity android:name=".Multi36" android:screenOrientation="portrait" />
        <activity android:name=".Multi37" android:screenOrientation="portrait" />
        <activity android:name=".Multi38" android:screenOrientation="portrait" />
        <activity android:name=".Multi39" android:screenOrientation="portrait" />
        <activity android:name=".Multi40" android:screenOrientation="portrait" />
        <activity android:name=".Multi41" android:screenOrientation="portrait" />
        <activity android:name=".Multi42" android:screenOrientation="portrait" />
        <activity android:name=".Multi43" android:screenOrientation="portrait" />
        <activity android:name=".Multi44" android:screenOrientation="portrait" />
        <activity android:name=".Multi45" android:screenOrientation="portrait" />
        <activity android:name=".Multi46" android:screenOrientation="portrait" />
        <activity android:name=".Multi47" android:screenOrientation="portrait" />
        <activity android:name=".Multi48" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>